* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url(https://www.cronista.com/files/image/921/921282/66bbd95e38e8b.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
}


.col-md-11 {
    padding-bottom: 20px;
    padding-left:40px;
}

#ContenedorRegistroMedico {
    border-radius: 5%;
    display: grid;
    place-content: center;
    height: 300px;
    width: 500px;
    margin-left: 72vh;
    margin-top: 30vh;
    background: #808080;
}

.col-md-12 {
   padding-left: 70px;
}

