* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    height: 100vh;
}

.container {
    display: flex;
    width: 100%;
}

.form-column {
    flex: 1; /* Ocupa 1 parte del espacio disponible */
    display: flex;
    justify-content: center;
   
}

.image-column {
    flex: 1; /* Ocupa 1 parte del espacio disponible */
    position: relative;
}

.background-image {
    width: auto; /* Ocupa todo el ancho de la columna */
    height: 100vh; /* Ocupa toda la altura de la columna */
    object-fit: cover; /* Mantiene la proporción de la imagen */
}

.Rectangulo {
    background: rgba(255, 255, 255, 0.9);
    border-radius: 10px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    
}

#HeaderRectangulo {
    height: 20vh;
    border-radius: 10px 10px 0 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

#ContenidoRectangulo {
    width: 100%; 
    display: flex;
    flex-direction: column;
    text-align: center;
}

.mb-3 {
    padding-bottom: 5vh;
    font-size: x-large;
}

.modern-input {
    border: 2px solid #4a90e2;
    border-radius: 5px;
    padding: 10px;
    transition: border-color 0.3s;
}

    .modern-input:focus {
        border-color: #007bff;
        outline: none;
    }

.btn-modern {
    background-color: #4a90e2;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: large;
    cursor: pointer;
    transition: background-color 0.3s;
}

    .btn-modern:hover {
        background-color: #007bff;
    }

#Titulo {
    font-family: "Libre Bodoni", serif;
    font-weight: 700;
    font-size: 60px;
    text-align: center;
    margin: 0;
}
