* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url(https://www.cronista.com/files/image/921/921282/66bbd95e38e8b.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
}


.col-md-11 {
    padding-bottom:20px;
}

#lblPaisMedico{
    display:inline-block;
    width:300px;
}

#ContenedorRegistroMedico {
    border-radius: 5%;
    display: grid;
    place-content: center;
    height: 600px;
    width: auto;
    background: #c0c7d7;
}

.col-md-7 {
    padding-left: 9vh;
    padding-top: 1vh;
}
